<a href="https://colab.research.google.com/github/deepakatAviSoft/february_assignments/blob/main/05_02_2024_as1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python script to display the various Date Time formats - <br>
   a) Current date and time <br>
   b) Current year <br>
   c) Month of year <br>
   d) Week number of the year <br>
   e) Weekday of the week <br>
   f) Day of year <br>
   g) Day of the month <br>
   h) Day of week

In [ ]:
from datetime import datetime

current_date_time = datetime.now()
print("Current Date and Time:", current_date_time)


current_year = current_date_time.year
print("Current Year:", current_year)


month_of_year = current_date_time.strftime("%B")
print("Month of Year:", month_of_year)


week_number = current_date_time.strftime("%U")
print("Week Number of the Year:", week_number)


weekday = current_date_time.strftime("%A")
print("Weekday of the Week:", weekday)


day_of_year = current_date_time.timetuple().tm_yday
print("Day of Year:", day_of_year)


day_of_month = current_date_time.day
print("Day of the Month:", day_of_month)


day_of_week = current_date_time.weekday()
print("Day of the Week:", day_of_week)

Current Date and Time: 2024-02-05 05:51:26.075181
Current Year: 2024
Month of Year: February
Week Number of the Year: 05
Weekday of the Week: Monday
Day of Year: 36
Day of the Month: 5
Day of the Week: 0

**2.** Write a Python program to subtract five days from the current date.<br>
Sample Date :<br>
Current Date : 2015-06-22<br>
5 days before Current Date : 2015-06-17

In [16]:
from datetime import datetime, timedelta

current_date_str = '2015-06-22'
current_date = datetime.strptime(current_date_str, '%Y-%m-%d')


new_date = current_date - timedelta(days=5)


print(f"Current Date: {current_date.strftime('%Y-%m-%d')}")
print(f"5 days before Current Date: {new_date.strftime('%Y-%m-%d')}")

Current Date: 2015-06-22
5 days before Current Date: 2015-06-17

**3.** Write a Python program to calculate the number of days between two date times.

In [17]:
from datetime import datetime

def days_between_dates(date_str1, date_str2, date_format="%Y-%m-%d %H:%M:%S"):
    date1 = datetime.strptime(date_str1, date_format)
    date2 = datetime.strptime(date_str2, date_format)


    delta = date2 - date1


    days_difference = delta.days

    return days_difference

date_str1 = "2024-01-01 12:00:00"
date_str2 = "2024-02-05 18:30:00"

result = days_between_dates(date_str1, date_str2)
print(f"Number of days between {date_str1} and {date_str2}: {result} days")

Number of days between 2024-01-01 12:00:00 and 2024-02-05 18:30:00: 35 days

**4.** Write a Python program to read an entire text file.

In [20]:

file_path = '/content/example.txt'  # Update the file path accordingly

file_content = """\
Hello, this is a sample text file.
It contains multiple lines of text.
You can modify and customize it as needed.
"""

with open(file_path, 'w') as file:
    file.write(file_content)


def read_text_file(file_path):
    try:
        with open(file_path, 'r') as file:
            content = file.read()
            return content
    except FileNotFoundError:
        return f"File not found: {file_path}"
    except Exception as e:
        return f"An error occurred: {str(e)}"


read_file_content = read_text_file(file_path)



print("File Content:")
print(read_file_content)

File Content:
Hello, this is a sample text file.
It contains multiple lines of text.
You can modify and customize it as needed.

**5.** Write a Python program to read first n lines of a file.

In [23]:
def read_first_n_lines(file_path, n):
    try:
        with open(file_path, 'r') as file:
            lines = [next(file) for _ in range(n)]
            return ''.join(lines)
    except FileNotFoundError:
        return f"File not found: {file_path}"
    except Exception as e:
        return f"An error occurred: {str(e)}"

file_path = '/content/example.txt'
n = 2  # Number of lines to read


first_n_lines = read_first_n_lines(file_path, n)


print(f"First {n} lines of the file:")
print(first_n_lines)

First 2 lines of the file:
Hello, this is a sample text file.
It contains multiple lines of text.

***6.*** Write a Python program to read last n lines of a file.

In [24]:
def read_last_n_lines(file_path, n):
    try:
        with open(file_path, 'r') as file:
            lines = file.readlines()
            last_n_lines = lines[-n:]
            return ''.join(last_n_lines)
    except FileNotFoundError:
        return f"File not found: {file_path}"
    except Exception as e:
        return f"An error occurred: {str(e)}"


file_path = '/content/example.txt'
n = 2  # Number of lines to read


last_n_lines = read_last_n_lines(file_path, n)


print(f"Last {n} lines of the file:")
print(last_n_lines)

Last 2 lines of the file:
It contains multiple lines of text.
You can modify and customize it as needed.

**7.** Write a Python program to get the file size of a plain file.

In [25]:
import os

def get_file_size(file_path):
    try:
        size_bytes = os.path.getsize(file_path)

        size_kb = size_bytes / 1024
        size_mb = size_kb / 1024

        return size_bytes, size_kb, size_mb
    except FileNotFoundError:
        return f"File not found: {file_path}"
    except Exception as e:
        return f"An error occurred: {str(e)}"


file_path = '/content/example.txt'


file_size_bytes, file_size_kb, file_size_mb = get_file_size(file_path)


print(f"File Size:")
print(f"In Bytes: {file_size_bytes} bytes")
print(f"In Kilobytes: {file_size_kb:.2f} KB")
print(f"In Megabytes: {file_size_mb:.2f} MB")

File Size:
In Bytes: 114 bytes
In Kilobytes: 0.11 KB
In Megabytes: 0.00 MB

**8.** Write a Python program that takes a text file as input and returns the number of words of a given text file.<br>
Note: Some words can be separated by a comma with no space.

In [26]:
def count_words(file_path):
    try:
        with open(file_path, 'r') as file:
            content = file.read()
            content_without_commas = content.replace(',', ' ')
            words = content_without_commas.split()
            return len(words)
    except FileNotFoundError:
        return f"File not found: {file_path}"
    except Exception as e:
        return f"An error occurred: {str(e)}"


file_path = '/content/example.txt'


word_count = count_words(file_path)

print(f"Number of words in the file: {word_count}")

Number of words in the file: 21

**9.** Write a Python program to generate 26 text files named A.txt, B.txt, and so on up to Z.txt.

In [28]:
import string

def generate_text_files():
    for letter in string.ascii_uppercase:
        file_name = f"{letter}.txt"
        with open(file_name, 'w') as file:
            file.write(f"This is the content of {file_name}")

#these files will be saved in the content folder of the google collab
generate_text_files()

**10.** Write a Python program to read each row from a given csv file and print a list of strings.

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
import pandas as pd

csv_file_path = '/content/drive/MyDrive/x.csv'

df = pd.read_csv(csv_file_path)


print(df)

            Date      Date Type   Age     Sex                       Race  \
0     05/29/2012  Date of death  37.0    Male                      Black
1     06/27/2012  Date of death  37.0    Male                      White
2     03/24/2014  Date of death  28.0    Male                      White
3     12/31/2014  Date of death  26.0  Female                      White
4     01/16/2016  Date of death  41.0    Male                      White
...          ...            ...   ...     ...                        ...
9197  10/19/2021  Date of death  56.0    Male  Black or African American
9198  05/04/2021  Date of death  48.0    Male  Black or African American
9199  05/15/2021  Date of death  59.0    Male                      White
9200  05/28/2021  Date of death  68.0    Male  Black or African American
9201  12/24/2021  Date of death  29.0    Male                      White

                        Ethnicity Residence City Residence County  \
0                             NaN       STAMFORD        FAIRFIELD
1                             NaN        NORWICH       NEW LONDON
2                             NaN         HEBRON              NaN
3                             NaN         BALTIC              NaN
4                             NaN        SHELTON        FAIRFIELD
...                           ...            ...              ...
9197                          NaN       STAMFORD        FAIRFIELD
9198                          NaN     WEST HAVEN        NEW HAVEN
9199                          NaN   WETHERSFIELD         HARTFORD
9200                          NaN       HARTFORD         HARTFORD
9201  Not Spanish/Hispanic/Latino        SEYMOUR        NEW HAVEN

     Residence State   Injury City  ... Xylazine Gabapentin Opiate NOS  \
0                NaN      STAMFORD  ...      NaN        NaN        NaN
1                NaN       NORWICH  ...      NaN        NaN        NaN
2                NaN        HEBRON  ...      NaN        NaN        NaN
3                NaN           NaN  ...      NaN        NaN        NaN
4                 CT       SHELTON  ...      NaN        NaN        NaN
...              ...           ...  ...      ...        ...        ...
9197              CT      STAMFORD  ...      NaN        NaN        NaN
9198              CT    WEST HAVEN  ...      NaN        NaN        NaN
9199              CT  WETHERSFIELD  ...      NaN          Y        NaN
9200              CT      HARTFORD  ...      NaN        NaN        NaN
9201              CT       SEYMOUR  ...        Y        NaN        NaN

     Heroin/Morph/Codeine Other Opioid Any Opioid Other  \
0                     NaN          NaN        NaN   NaN
1                     NaN          NaN        NaN   NaN
2                     NaN          NaN        NaN   NaN
3                     NaN          NaN        NaN   NaN
4                     NaN          NaN          Y   NaN
...                   ...          ...        ...   ...
9197                  NaN          NaN          Y   PCP
9198                  NaN          NaN        NaN   NaN
9199                  NaN          NaN        NaN   NaN
9200                  NaN          NaN        NaN   NaN
9201                  NaN          NaN          Y   NaN

                               ResidenceCityGeo  \
0         STAMFORD, CT\n(41.051924, -73.539475)
1          NORWICH, CT\n(41.524304, -72.075821)
2           HEBRON, CT\n(41.658069, -72.366324)
3           BALTIC, CT\n(41.617221, -72.085031)
4          SHELTON, CT\n(41.316843, -73.092968)
...                                         ...
9197      STAMFORD, CT\n(41.051924, -73.539475)
9198    WEST HAVEN, CT\n(41.272336, -72.949817)
9199  WETHERSFIELD, CT\n(41.712487, -72.663607)
9200      HARTFORD, CT\n(41.765775, -72.673356)
9201       SEYMOUR, CT\n(41.395594, -73.073581)

                                  InjuryCityGeo  \
0         STAMFORD, CT\n(41.051924, -73.539475)
1          NORWICH, CT\n(41.524304, -72.075821)
2           HEBRON, CT\n(41.658069, -72.366324)
3                   CT\n(41.575155, -72.738288)
4          SHELTON, CT\n(41.316843, -73.092968)
...                                         ...
9197      STAMFORD, CT\n(41.051924, -73.539475)
9198    WEST HAVEN, CT\n(41.272336, -72.949817)
9199  WETHERSFIELD, CT\n(41.712487, -72.663607)
9200      HARTFORD, CT\n(41.765775, -72.673356)
9201       SEYMOUR, CT\n(41.395594, -73.073581)

                                  DeathCityGeo
0                  CT\n(41.575155, -72.738288)
1         Norwich, CT\n(41.524304, -72.075821)
2     Marlborough, CT\n(41.632043, -72.461309)
3          Baltic, CT\n(41.617221, -72.085031)
4      Bridgeport, CT\n(41.179195, -73.189476)
...                                        ...
9197     Stamford, CT\n(41.051924, -73.539475)
9198    New Haven, CT\n(41.308252, -72.924161)
9199     Hartford, CT\n(41.765775, -72.673356)
9200     Hartford, CT\n(41.765775, -72.673356)
9201      Seymour, CT\n(41.395594, -73.073581)

[9202 rows x 48 columns]

**11.** Write a Python program to read a given CSV file having tab delimiter.

In [32]:
import pandas as pd

csv_file_path = '/content/drive/MyDrive/FlyRNAi_data_baseline_vs_EGF.txt'


df = pd.read_csv(csv_file_path, sep='\t')

print(df)

                ID  EGF_Baseline  EGF_Stimulus
0      FBgn0029994         -1.25         -0.27
1      FBgn0037191         -1.05          0.78
2      FBgn0036810          2.08          1.34
3      FBgn0033320          1.15          0.45
4      FBgn0051156         -1.77         -0.76
...            ...           ...           ...
11761  FBgn0026136          0.57          1.23
11762  FBgn0037356          1.14         -0.95
11763  FBgn0038214         -1.86         -0.67
11764  FBgn0042110          1.49          0.43
11765  FBgn0034202         -1.32         -0.22

[11766 rows x 3 columns]

**12.** Write a Python program that reads a CSV file and remove initial spaces, quotes around each entry and the delimiter.

In [33]:
import pandas as pd

csv_file_path = '/content/drive/MyDrive/eg_file.csv'

df = pd.read_csv(csv_file_path)

df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

print("Original DataFrame:")
print(df)

cleaned_csv_file_path = '/content/drive/MyDrive/cleaned_eg_file.csv'
df.to_csv(cleaned_csv_file_path, index=False)

print("\nCleaned DataFrame saved to:", cleaned_csv_file_path)

Original DataFrame:
      Name  "Age"         "City"
0    Alice     25       New York
1      Bob     30  San Francisco
2  Charlie     22         London

Cleaned DataFrame saved to: /content/drive/MyDrive/cleaned_eg_file.csv

**13.** Write a Python program to read specific columns of a given CSV file and print the content of the columns.

In [43]:
import pandas as pd

csv_file_path = '/content/drive/MyDrive/titanic.csv'

selected_columns = ['Age', 'Fare']

df = pd.read_csv(csv_file_path, usecols=selected_columns)


print("Selected Columns:")
print(df.head())

Selected Columns:
    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500